@keyframes liftup{
  0% {
    transform: scaleY(1)
  }
  80% {
    transform: scaleY(0)
  }
  100% {
    transform: scaleY(0)
  }
}

@keyframes lower {
  0% {
    transform: translateY(0)
  }
  80% {
    transform: translateY(50px)
  }
  100% {
    transform: translateY(50px)
  }
}

.menu-exit {
  animation: liftup 300ms ease-in-out forwards !important;
}